<div class="row statistics-data">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card single-data d-block">
            <div class="d-flex p-2">
                <div>
                    <img class="mr-2" src="assets/images/hierarchies.svg" />
                </div>
                <div class="data-content">
                    <h5 class="counter" data-count="22">0</h5>
                    <p>Subordinates</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card single-data d-block">
            <div class="d-flex p-2">
                <div>
                    <img class="mr-2" src="assets/images/goal.svg" />
                </div>
                <div class="data-content">
                    <h5 class="counter" data-count="143">0</h5>
                    <p>Linked Objects</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card single-data d-block">
            <div class="d-flex p-2">
                <div>
                    <img class="mr-2" src="assets/images/speedometer.svg" />
                </div>
                <div class="data-content">
                    <h5 class="counter" data-count="250">0</h5>
                    <p>Linked KPI's</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card single-data d-block pointer">
            <a data-toggle="modal" data-target="#audit">
                <div class="d-flex p-2">
                    <div>
                        <img class="mr-2 mt-2" src="assets/images/timeline.svg" />
                    </div>
                    <div class="data-content">
                        <h4>Audit trail list</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Audit -->
<div class="modal fade" id="audit">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header pt-2 pb-2 pb-0">
                <div class="row w-100">
                    <div class="col-sm-12 col-md-4">
                        <h4 class="modal-title mt-1">Audit trail list</h4>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <ul class="card-header-actions float-right">
                            <li class="float-right ml-2 pt-1">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="timeline-height scrollLeg">
                    <section class="timeline">
                        <ul>
                            <li>
                                <div class="single-timeline-box">
                                    <time>21 Des 2019</time>
                                    <div class="timeline-user-info d-flex">
                                        <div class="timeline-user-img mr-2"
                                            style="background-image:url('assets/images/user.png')"></div>
                                        <div class="timeline-details flex-fill">
                                            <div class="user-name">Mohammad Abullah</div>
                                            <div class="desc">
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                blanditiis praesentium At vero eos et accusamus et iusto odio
                                                dignissimos ducimus qui blanditiis praesentium
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-timeline-box">
                                    <time>21 Des 2019</time>
                                    <div class="timeline-user-info d-flex">
                                        <div class="timeline-user-img mr-2"
                                            style="background-image:url('assets/images/user.png')"></div>
                                        <div class="timeline-details flex-fill">
                                            <div class="user-name">Mohammad Abullah</div>
                                            <div class="desc">
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                blanditiis praesentium At vero eos et accusamus et iusto odio
                                                dignissimos ducimus qui blanditiis praesentium
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-timeline-box">
                                    <time>21 Des 2019</time>
                                    <div class="timeline-user-info d-flex">
                                        <div class="timeline-user-img mr-2"
                                            style="background-image:url('assets/images/user.png')"></div>
                                        <div class="timeline-details flex-fill">
                                            <div class="user-name">Mohammad Abullah</div>
                                            <div class="desc">
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                blanditiis praesentium At vero eos et accusamus et iusto odio
                                                dignissimos ducimus qui blanditiis praesentium
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-timeline-box">
                                    <time>21 Des 2019</time>
                                    <div class="timeline-user-info d-flex">
                                        <div class="timeline-user-img mr-2"
                                            style="background-image:url('assets/images/user.png')"></div>
                                        <div class="timeline-details flex-fill">
                                            <div class="user-name">Mohammad Abullah</div>
                                            <div class="desc">
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                blanditiis praesentium At vero eos et accusamus et iusto odio
                                                dignissimos ducimus qui blanditiis praesentium
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-timeline-box">
                                    <time>21 Des 2019</time>
                                    <div class="timeline-user-info d-flex">
                                        <div class="timeline-user-img mr-2"
                                            style="background-image:url('assets/images/user.png')"></div>
                                        <div class="timeline-details flex-fill">
                                            <div class="user-name">Mohammad Abullah</div>
                                            <div class="desc">
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                blanditiis praesentium At vero eos et accusamus et iusto odio
                                                dignissimos ducimus qui blanditiis praesentium
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-width" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
