<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2 mb-3">
            <div class="row mb-3">
                <div class="col-sm-12">
                    <app-user-info-card></app-user-info-card>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-menu-card></app-menu-card>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-10 mb-3">
            <div class="row">
                <div class="col-sm-12">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>

            <div>
                <app-statistics-data></app-statistics-data>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <app-side-tabs-card></app-side-tabs-card>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-12">
                    <button type="button" class="btn icon-btn advance-search float-right ml-3 btn-width"
                        data-toggle="collapse" data-target="#advanceSearch" aria-expanded="true">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
