<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="card-title">Responsibilities</h4>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="form-container">
            <div class="form-group mb-0">
                <div class="row">
                    <div class="col-sm-9 col-md-9">
                        <div class="form-group">
                            <label>
                                Edit responsable
                            </label>
                            <div class="label label-secondary label-outlined labelstyle pb-1 pl-1">
                                <div class="md-avatar float-left"
                                    style="background-image:url('assets/images/user.png')">
                                </div>
                                <span class="pt-1 d-block">Mohammad</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group mb-0">
                            <div class="w-100 mt-1">
                                <label class="d-block">Active</label>
                            </div>
                            <div class="w-100">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="switch1" name="example"
                                        checked disabled>
                                    <label class="custom-control-label" for="switch1"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <div class="form-group">
                            <label>
                                Edit substitute
                            </label>
                            <div class="label label-secondary label-outlined labelstyle pb-1 pl-1">
                                <div class="md-avatar float-left"
                                    style="background-image:url('assets/images/user.png')">
                                </div>
                                <span class="pt-1 d-block">Mohammad</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group mb-0">
                            <div class="w-100 mt-1">
                                <label class="d-block">Active</label>
                            </div>
                            <div class="w-100">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="switch1" name="example"
                                        checked disabled>
                                    <label class="custom-control-label" for="switch1"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <div class="form-group">
                            <label>
                                Validation responsable
                            </label>
                            <div class="label label-secondary label-outlined labelstyle pb-1 pl-1">
                                <div class="md-avatar float-left"
                                    style="background-image:url('assets/images/user.png')">
                                </div>
                                <span class="pt-1 d-block">Mohammad</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group mb-0">
                            <div class="w-100 mt-1">
                                <label class="d-block">Active</label>
                            </div>
                            <div class="w-100">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="switch1" name="example"
                                        checked disabled>
                                    <label class="custom-control-label" for="switch1"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <div class="form-group">
                            <label>
                                Validation substitute
                            </label>
                            <div class="label label-secondary label-outlined labelstyle pb-1 pl-1">
                                <div class="md-avatar float-left"
                                    style="background-image:url('assets/images/user.png')">
                                </div>
                                <span class="pt-1 d-block">Mohammad</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group mb-0">
                            <div class="w-100 mt-1">
                                <label class="d-block">Active</label>
                            </div>
                            <div class="w-100">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="switch1" name="example"
                                        disabled>
                                    <label class="custom-control-label" for="switch1"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
