<div class="card">
    <div class="card-header">
        <h6 class="card-title">Menu</h6>
    </div>
    <div class="card-body pl-0 pr-0 pt-0 pb-2">
        <ul class="main-nav nav flex-column flex-nowrap overflow-hidden">
            <li class="nav-item active">
                <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse"
                    data-target="#submenu1">
                    <span class="d-sm-inline ml-1 views-icon main-menu-icon">My Views</span>
                </a>
                <div class="collapse" id="submenu1" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>Dashboard1</span></a></li>
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>Dashboard2</span></a></li>
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>Dashboard3</span></a></li>
                    </ul>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link collapsed text-truncate" href="#submenu2" data-toggle="collapse"
                    data-target="#submenu2">
                    <span class="d-sm-inline ml-1 Actions-icon main-menu-icon">My Actions</span>
                </a>
                <div class="collapse" id="submenu2" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>My
                                    Tasks</span></a></li>
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>My
                                    Requests</span></a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed text-truncate" href="#submenu3" data-toggle="collapse"
                    data-target="#submenu3">
                    <span class="d-sm-inline ml-1 Encyclopedias-icon main-menu-icon">Encyclopedias</span>
                </a>
                <div class="collapse" id="submenu3" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <a class="nav-link collapsed py-1" href="#submenu2sub1" data-toggle="collapse"
                                data-target="#submenu2sub1"><span>Encyclopedia1</span></a>
                            <div class="collapse" id="submenu2sub1" aria-expanded="false">
                                <ul class="flex-column nav pl-4">
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Metrics
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Context
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Views
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Governance
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link collapsed py-1" href="#submenu2sub2" data-toggle="collapse"
                                data-target="#submenu2sub2"><span>Encyclopedia2</span></a>
                            <div class="collapse" id="submenu2sub2" aria-expanded="false">
                                <ul class="flex-column nav pl-4">
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Metrics
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Context
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Views
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Governance
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link collapsed py-1" href="#submenu2sub3" data-toggle="collapse"
                                data-target="#submenu2sub3"><span>Encyclopedia2</span></a>
                            <div class="collapse" id="submenu2sub3" aria-expanded="false">
                                <ul class="flex-column nav pl-4">
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Metrics
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Context
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Views
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-1" href="#">
                                            Governance
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed text-truncate" href="#submenu4" data-toggle="collapse"
                    data-target="#submenu4">
                    <span class="d-sm-inline ml-1 Administration-icon main-menu-icon">Administration</span>
                </a>
                <div class="collapse" id="submenu4" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>General
                                    Settings</span></a></li>
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>Context
                                    Settings</span></a></li>
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>Metrics
                                    Settings</span></a></li>
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>Templates</span></a></li>
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>Surveys</span></a></li>
                        <li class="nav-item"><a class="nav-link py-0" href="#"><span>Workflows</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
