<div class="card user-info-card">
    <div class="card-header">
        <div class="user-img" style="background-image:url('assets/images/user.png')"></div>
    </div>
    <div class="card-body p-2">
        <div class="user-info">
            <h6>Mohammad Abdullah</h6>
            <p class="mb-2">Sr.Project Manager</p>
        </div>
        <div class="text-center">
            <button type="button" class="custom-btn blue mr-1">Message</button>
            <button type="button" class="custom-btn turquoise ml-1">follow</button>
            <div class="d-flex justify-content-md-center">
                <ul class="user-icons mt-3 mb-2">
                    <li>
                        <a class="user-icons-link" href="#" title="Inbox">
                            <img src="assets/images/inbox-icon.svg" />
                            <span class="badge notefications-icon">2</span>
                        </a>
                    </li>
                    <li>
                        <a class="user-icons-link" href="#" title="Notifications">
                            <img src="assets/images/noti-icon.svg" />
                            <span class="badge notefications-icon">4</span>
                        </a>
                    </li>
                    <li>
                        <a class="user-icons-link" href="#" title="Tasks">
                            <img src="assets/images/tasks-icon.svg" />
                        </a>
                    </li>
                    <li>
                        <a class="user-icons-link" href="#" title="Collaborations">
                            <img src="assets/images/collaborations-icon.svg" />
                        </a>
                    </li>
                    <li>
                        <a class="user-icons-link" href="#" title="Sign out" (click)="userService.logout()">
                            <img src="assets/images/logout-icon.svg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="user-info-summery p-2">
        <a data-toggle="collapse" class="collaps-icon" data-target="#info"><i class="fas fa-chevron-down"></i></a>
        <ul class="user-data">
            <li>
                <i class="fas fa-envelope mr-2"></i> mohammad@gmail.com
            </li>
            <li>
                <i class="fas fa-phone-alt mr-2"></i> +971 5064 67 9
            </li>
        </ul>
        <div id="info" class="collapse">
            <p class="pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
        </div>
    </div>
    <div class="info-comp p-2">
        <p class="comp-text">Info compilation</p>
        <div class="d-flex mb-1">
            <div class="progress flex-fill">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:70%">
                </div>
            </div>
            <div class="ml-2">
                <span data-count="70" class="progress-val counter pr-2">0</span>
            </div>
        </div>
        <a class="default-link text-uppercase" href="user-profile.html">update user info <i
                class="fas fa-chevron-right ml-1"></i></a>
    </div>
</div>
