<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h4 class="card-title">Hierarchy info</h4>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="form-container">
            <div class="form-group mb-0">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label>
                                Hierarchy code
                            </label>
                            <div class="label label-secondary label-outlined labelstyle">
                                12312</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="form-group">
                            <label>
                                Hierarchy name
                            </label>
                            <div class="label label-secondary label-outlined labelstyle">
                                Object name</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">
                                Description
                            </label>
                            <div class="label label-secondary label-outlined labelstyle lg-lbl">
                                Description goes here lorem ipsum dummy text goes
                                here text description goes here lorem ipsum dummy
                                text goes here text description goes here lorem
                                ipsum dummy text goes here text description</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
